/* Le bandeau tout en haut */
.userWelcome
{
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0.5em 1.5em;
    gap: 1.5em;
    top: 0;
    left: 0;
    width: calc(100% - 3em);
    background-color: #ffffff80;
}