/* Le bandeau tout en haut */
.userWelcome
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: sticky;
    top: 0;
    padding: 0.5em 1.5em;
    gap: 1.5em;
    width: calc(100% - 3em);
    background-color: #00000080;
    border-bottom: #000 solid calc(0.05vw + 0.1em);
    backdrop-filter: blur(10px);
    color: #fff;
}