<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorie</title>
    <link rel="stylesheet" href="../CSS/reset.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/categorie.css">
</head>
<body>
    <div class="userWelcome">
        <span>Bienvenue <span id="firstName"></span><span id="lastName"></span></span>
        <span>Nous sommes le <span id="date"></span></span>
        <span>Connecté à <span id="time"></span></span>
    </div>
    <div class="page">
        <h1 id="pageTitle">Categorie</h1>
        <table id="categorieTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Sujet</th>
                    <th>Dernier commentaire</th>
                    <th>Auteur</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Sujet</td>
                    <td>XX/XX/XXXX</td>
                    <td>Un auteur</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="../JavaScript/categorie.js"></script>
</body>
</html>