<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="../CSS/reset.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/forum.css">
</head>
<body>
    <div class="userWelcome">
        <span>Bienvenue <span id="firstName"></span><span id="lastName"></span></span>
        <span>Nous sommes le <span id="date"></span></span>
        <span>Connecté à <span id="time"></span></span>
    </div>
    <div class="page">
        <h1>Forum</h1>
        <div class="multipleElement">
            <a href="categorie.html">
                <div class="masterCard" id="commerceCard">
                    <h1>Commerce</h1>
                    <span>Découvrez et échangez les meilleures astuces de cuisine avec la laitue, et partagez vos meilleures recettes de laitue ici.</span>
                    <h2>Cliquez pour découvir.</h2>
                </div>
            </a>
            <a href="categorie.html">
                <div class="masterCard" id="cultureCard">
                    <h1>Culture</h1>
                    <span>Découvrez et échangez les méthodes de culture de la laitue, et partagez avec les cultivateurs pour découvrir les secrets de la laitue.</span>
                    <h2>Cliquez pour découvir.</h2>
                </div>
            </a>
            <a href="categorie.html">
                <div class="masterCard" id="cuisineCard">
                    <h1>Cuisine</h1>
                    <span>Découvrez et échangez avec les marchands, commercants et autres fans de laitue, et partagez vos meilleurs plans pour acheter de la laitue.</span>
                    <h2>Cliquez pour découvir.</h2>
                </div>
            </a>
        </div>
    </div>
    <script src="../JavaScript/forum.js"></script>
</body>
</html>