<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sujet</title>
    <link rel="stylesheet" href="../CSS/reset.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/subject.css">
</head>
<body>
    <div class="page">
        <div id="chat">
            <h1>Titre du sujet</h1>
            <hr/>
            <div class="message">
                <h2>Auteur</h2>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga provident hic quidem quae voluptatibus fugit at sit eos quas temporibus deserunt, enim dignissimos a aliquam harum reprehenderit doloremque unde quam.</span>
                <h2>Date</h2>
            </div>
            <hr/>
            <div class="message">
                <h2>Auteur</h2>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga provident hic quidem quae voluptatibus fugit at sit eos quas temporibus deserunt, enim dignissimos a aliquam harum reprehenderit doloremque unde quam.</span>
                <h2>Date</h2>
            </div>
            <hr/>
            <div class="message">
                <h2>Auteur</h2>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga provident hic quidem quae voluptatibus fugit at sit eos quas temporibus deserunt, enim dignissimos a aliquam harum reprehenderit doloremque unde quam.</span>
                <h2>Date</h2>
            </div>
            <hr/>
            <div class="message">
                <h2>Auteur</h2>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga provident hic quidem quae voluptatibus fugit at sit eos quas temporibus deserunt, enim dignissimos a aliquam harum reprehenderit doloremque unde quam.</span>
                <h2>Date</h2>
            </div>
            <hr/>
        </div>
        <div class="enterMessage">
            <div class="label-input">
                <div class="multipleElement">
                    <button>Envoyer</button>
                    <textarea spellcheck="false" id="textAreaMessage" placeholder="Entrez un message." rows="1"></textarea>
                </div>
            </div>
        </div>
    </div>
    <script src="../JavaScript/style.js"></script>
    <script src="../JavaScript/subject.js"></script>
</body>
</html>